<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tijian.information.dao.HeightweightDao">

	<select id="get" resultType="com.tijian.information.domain.HeightweightDO">
		select `id`,`user_id`,`add_time`,`height`,`weight`,`bi` from t_heightweight where id = #{value}
	</select>
	 
	<insert id="save" parameterType="com.tijian.information.domain.HeightweightDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_heightweight
		(
			`user_id`, 
			`add_time`, 
			`height`, 
			`weight`, 
			`bi`,
			check_id,
			suggest,
			name
		)
		values
		(
			#{userId}, 
			#{addTime}, 
			#{height}, 
			#{weight}, 
			#{bi},
			#{checkId},
			#{suggest},
			#{name}
		)
	</insert>
	 
	<update id="update" parameterType="com.tijian.information.domain.HeightweightDO">
		update t_heightweight 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="height != null">`height` = #{height}, </if>
			<if test="weight != null">`weight` = #{weight}, </if>
			<if test="bi != null">`bi` = #{bi}</if>
		</set>
		where id = #{id}
	</update>


</mapper>