<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tijian.information.dao.UserDODao">

	<select id="get" resultType="com.tijian.information.domain.UserDO">
		select `id`,`name`,`identity_card`,`add_time`,`sex`,`birthday`,`phone`,`age`,`nation` from t_user where id = #{value}
	</select>

	<select id="list" resultType="com.tijian.information.domain.UserDO">
		select `id`,`name`,`identity_card`,`add_time`,`sex`,`birthday`,`phone`,`age`,`nation` from t_user
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="identityCard != null and identityCard != ''"> and identity_card = #{identityCard} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="age != null and age != ''"> and age = #{age} </if>
		  		  <if test="nation != null and nation != ''"> and nation = #{nation} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_user
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="identityCard != null and identityCard != ''"> and identity_card = #{identityCard} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="age != null and age != ''"> and age = #{age} </if>
		  		  <if test="nation != null and nation != ''"> and nation = #{nation} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.tijian.information.domain.UserDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_user
		(
			`name`, 
			`identity_card`, 
			`add_time`, 
			`sex`, 
			`birthday`, 
			`phone`, 
			`age`, 
			`nation`
		)
		values
		(
			#{name}, 
			#{identityCard}, 
			#{addTime}, 
			#{sex}, 
			#{birthday}, 
			#{phone}, 
			#{age}, 
			#{nation}
					)
	</insert>
	 
	<update id="update" parameterType="com.tijian.information.domain.UserDO">
		update t_user 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="identityCard != null">`identity_card` = #{identityCard}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="birthday != null">`birthday` = #{birthday}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="age != null">`age` = #{age}, </if>
			<if test="nation != null">`nation` = #{nation}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_user where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_user where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>